POSTGRES_DB=RunwayScheduling
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
ASPNETCORE_ENVIRONMENT=Development
CONNECTION_STRING=Host=db;Port=5432;Database=RunwayScheduling;Username=your_postgres_user;Password=your_postgres_password

Jwt__Key=your_long_random_secret_for_jwt_signing
Jwt__Issuer=Api
Jwt__Audience=ApiUsers